.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 1;
    overflow: auto;
}

.coverImage {
    background-image: url("https://images.pexels.com/photos/34592/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
    margin-top: 10px;
}

.infosContainer {
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.headingInfos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.description {
    margin-top: 20px;
    font-weight: 400;
}

.collumButtonDisplay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
        font-size: xx-small;

    }
}